@import "~@angular/material/prebuilt-themes/purple-green.css";
@import "./variables.less";
@import "./form.less";

// default html elements
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	vertical-align: baseline;
	background-color: @bkgd;
	/* 	background: url('assets/images/fond3.png') no-repeat;
	background-position: center;
	background-size: cover; */
}

h1 {
	padding: 50px;
	margin: 0px !important;
	text-align: center;
	font-family: Verdana;
	font-style: italic !important;
	font-size: 60px;
	color: @fontColor;
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 90%);
}

hr {
	margin: 0px;
	padding: 0px;
	height: 2px;
	border: none;
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 10%, @navbarBkgd , rgba(255, 255, 255, 0) 90%);
}

h2 {
	margin: 0px;
	padding: 10px;
	text-align: left;
	font-family: Verdana;
	font-size: larger;
	color: @fontColor;
}
h3 {
	margin: 0px;
	padding: 10px;
	text-align: left;
	font-family: Verdana;
	font-style: italic!important;
	font-size: large;
	color: @fontColor;
}

p {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	line-height: 25px;
	vertical-align: baseline;
	background: transparent;
}

a {
	color: inherit;
	text-decoration: inherit;
}


//TABLE
 table{
	border-radius: 5px;
	border: solid @navbarBkgd 2px;
	background-color: transparent !important;
	margin:5px;
}
table:hover{
	background-color: @composantHover!important;
	box-shadow: 1px 1px 5px @navbarBkgd;
	border: solid 2px @navbarBkgd;
}

th{
	color: @fontColor !important;
	font-weight: bold!important;
	border-bottom: solid @navbarBkgd 1px !important;
	padding: 5px!important;
}


td{
	color: @fontColor !important;
	padding: 5px!important;
}

// flexbox
.colContainerMain {
	height: 100%;

	display: flex;
	flex-direction: column;
}

.colContainer {


	display: flex;
	flex-direction: column;
}

.rowContainer {
	display: flex;
	flex-direction: row;
}

.stretch {
	flex: 1 1;
}


// section
.section {
	background-color: @composantBkgd;
	margin: 5px;
	padding: 10px;
	border-radius: 5px;
}

.infoContainer {
	border-radius: 5px;
	border: solid @navbarBkgd 2px;
	margin: 5px;
	padding: 15px;
	color: @fontColor;
	background-color: @composantBkgd;
}

.infoContainer:hover {
	box-shadow: 1px 1px 5px @navbarBkgd;
	border: solid 2px @navbarBkgd;
	background-color: @composantHover;
}

.infoContainer span {
	display: block;
}

.gridContainer {
	display: flex;
	justify-content: flex-start;
	gap: 10px;
}

.labelContainer {
	font-weight: bold;
	text-align: end;
}

mat-dialog-container {
	background-color: rgb(166, 166, 198) !important;
	border-radius: 5px !important;
}

.sur-section {
	background-color: @bkgd;
	margin: 5px;
	//border-radius: 0px;
	//padding-left: 10px;
	//margin: 5px 0px 5px 0px;
}