<div class="infoContainer">
    <div class="gridContainer">
        <div class="labelContainer">
            <p>
                <span>Nom : </span>
                <span>Genre : </span>
                <span>Espèce : </span>
                <span>Orientation : </span>
                <span>Age : </span>
                <span>Marié : </span>
                <span>Conjoint : </span>
                <span>Souhait : (todo réalisé)</span>
                <span>Personnalité : </span>
                <span> </span>
                <span>Aspect</span>
                <span>Peau : </span>
                <span>Poids : </span>
                <span>Muscle : </span>
                <span>Poitrine : </span>
                <span>Cheveux (couleur) : </span>
                <span>Visage : </span>
                <span>Yeux (couleur) : </span>
                <span>Nez : </span>
                <span>Bouche : </span>
                <span> </span>
                <span>Préférence</span>
                <span>Plat : </span>
                <span>Musique : </span>
                <span>Couleur : </span>
                <span>Signe astrologique :</span>
            </p>
        </div>
        <div>
            <p>
                <span>{{sim?.prenom}} {{sim?.nom}}</span>
                <span>hjhlj</span>
                <span>hjhlj</span>
                <span>hjhlj</span>
            </p>
        </div>
    </div>
</div>