<div class="rowContainer fullHeight" style="border:blue solid;">
    <div class="section">
      <!--   <h2>Générer des starters</h2>
        <form [formGroup]="genererStarterForm" (ngSubmit)="genererStarterSubmit()">
            <p>
                <label for="nombreStarter">Nombre * : </label>
                <mat-form-field appearance="legacy">
                    <mat-label>Nombre</mat-label>
                    <input id="nombreStarter" type="number" matInput formControlName="nombreStarter"
                        placeholder="Nombre">
                </mat-form-field>
            </p>
             <button mat-raised-button type="submit"  [disabled]="!genererStarterForm.valid">Générer</button>
        </form> -->
    </div>
    <div class="section">
       <!--  <h2>Voir le groupe</h2>
        <div class="colContainer">
        <form [formGroup]="voirGroupeForm" (ngSubmit)="voirGroupeSubmit()">
            <p>
                <label for="numero">Numero * : </label>
                <mat-form-field appearance="legacy">
                    <mat-label>Numéro</mat-label>
                    <mat-select formControlName="numero">
                        <mat-option *ngFor="let groupe of groupes" value="{{groupe}}">
                          {{groupe}}
                        </mat-option>
                      </mat-select>
                </mat-form-field>
            </p>
             <button mat-raised-button type="submit"  [disabled]="!voirGroupeForm.valid">Valider</button>
        </form>

        <div class="separator rowContainer wrap scroll" *ngIf="simListe">
            <div *ngFor="let sim of simListe" class="simContainer">
            <app-detail [sim]="sim"></app-detail>
            </div>
        </div> 
    </div> -->
    </div>
</div>